/6231302018_Lab1_Question3.ipynb
/6231302018_Lab2.ipynb
/6231302018_Lab8_Assignment (1).ipynb
/6231302018_Lab8_Assignment.ipynb
/AbalonePrediction.ipynb
/Lab4_KNN_Assignment-solution.ipynb
/Lab8_Clustering_Assignment_Solution.ipynb
/Lab9_HierarchicalClustering.ipynb
/regressionModelling.ipynb
/student's GPAX Evaluation.ipynb